*.o
*.lo
*.la
*.mo
Makefile

config.log
config.status
html/install.xml
html/news.xml
include/config.h
include/stamp-h1
lib/.deps
lib/.libs
libtool
man/meteo.1
src/.deps
src/.libs
src/meteoavg
src/meteodbdump
src/meteodequeue
src/meteodraw
src/meteolabel
src/meteolast
src/meteomap
src/meteopoll
src/meteosensors
src/meteosunriset
support/.deps
support/meteofixtimestamps
